.item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted var(--text-color);
}

.item p {
    margin: 0;
}

.itemName {
    font-weight: 700;
    font-size: 18px;
}

.description {
    margin-top: 0;
    color: var(--text-color);
    opacity: .5;
}

.crystal {
    margin: 20px 0;
}