.die {
  transform-style: preserve-3d;
  transform: translateZ(-100px) rotateY(-45deg) rotateX(-45deg);
}

.side1 {
  transform: rotateX(-90deg) translateZ(50px);
  z-index: 1
}

.side2 {
  transform: rotateY(180deg) translateZ(50px);
  z-index: 2;
}

.side3 {
  transform: rotateY(90deg) translateZ(50px);
  z-index: 3;
}

.side4 {
  z-index: 4;
  transform: rotateY(0deg) translateZ(50px);
}

.side5 {
  transform: rotateY(-90deg) translateZ(50px);
  z-index: 5;
}

.side6 {
  transform: rotateX(90deg) translateZ(50px);
  z-index: 6;
}