.backToContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.backToContents a {
    text-align: center;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    width: 100px;
    background-color: var(--background-color);
    text-decoration: none;
}

.backToContents a:hover {
    background-color: var(--nav-color);
}

.backToContents a img {
    margin: 0 10px;
}