input[type="radio"] {
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: var(--text-color);
  width: 15px;
  height: 15px;
  border: 1px solid var(--text-color);
  border-radius: 50%;

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--text-color);

  display: grid;
  place-content: center;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"] {
  appearance: none;
  background-color: var(--background-color);
  font: inherit;
  color: var(--text-color);
  width: 15px;
  height: 15px;
  border: 1px solid var(--text-color);
  transform: translateY(5px);
  transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked {
  transform: scale(1);
  width: 15px;
  height: 15px;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--text-color);
  transform: translateY(5px);
  transition: 120ms transform ease-in-out;


}

.center {
  text-align: center;
}

.section {
  margin: 20px auto;
  border-radius: 4px;
  padding: 10px;
}

input {
  background-color: inherit;
  border: none;
  color: inherit;
  font-size: inherit;
  border-color: var(--text-color);
}

.section h2 {
  margin: 0;
  margin-bottom: 10px;
}

.textInputLabel {
  width: 290px;
  margin: 0 auto;
  display: block;
  text-align: right;
  font-size: inherit;
}

.textInput {
  border-bottom: 1px solid var(--text-color);
  margin-left: 5px;
  width: 200px;
}

.navButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navButtons button {
  background-color: inherit;
  border: 1px solid var(--text-color);
  color: inherit;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: inherit;
}

/* -------------------- INDIVIDUAL SECTION STYLES -------------------- */

.raceContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}


.raceInput {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
  width: 100px;
  padding: 5px 0;
}

.guildInput {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
  width: 200px;
  padding: 5px 0;
}

.statCol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.inputCol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}


table {
  margin: 0;
  margin-bottom: 40px;
}

.detailsSection label {
  display: block;
}

textarea {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  border: 1px solid var(--text-color);
  width: 100%;
  height: 100px;
  font-family: inherit;
}

.skillsInput {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.skillsInput label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.luckButtonContainer,
.luckLabelContainer {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
}

.luckButton {
  background-color: inherit;
  border: 1px solid var(--text-color);
  color: inherit;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: inherit;
  margin: 0 auto;
}

.luckLabel {
  font-size: 32px;
}

.luckLabel input {
  width: 50px;
  text-align: center;
}

.wealthInputContainer {
  width: 100px;
  margin: 0 auto;
}

.wealthInput {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
  width: 100px;
  padding: 5px 0;
}