.dice {
  height: 100px;
  width: 100px;
  transform-style: preserve-3d;
  transform: translateZ(-100px) rotateY(-45deg) rotateX(-45deg);
  z-index: 10;
}

.diceContainer {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--transparent-background-color);
  border: 3px solid var(--transparent-background-color);
  border: 10px;
  z-index: 30;
}

.dot {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 11px;
  background-color: var(--background-color);
}

.side {
  position: absolute;
  background-color: var(--text-color);
  border: 1px solid var(--background-color);
  width: 100px;
  height: 100px;
  border-radius: 10px;
  line-height: 100px;
}

.one {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(-90deg) translateZ(50px);
  z-index: 1;
}

.two {
  display: flex;
  justify-content: space-between;
  transform: rotateY(180deg) translateZ(50px);
  z-index: 2;
}

.two .dot:nth-of-type(2) {
  align-self: flex-end;
}

.three {
  display: flex;
  justify-content: space-between;
  transform: rotateY(90deg) translateZ(50px);
  z-index: 3;
}

.three .dot:nth-of-type(2) {
  align-self: center;
}

.three .dot:nth-of-type(3) {
  align-self: flex-end;
}

.four {
  z-index: 4;
  transform: rotateY(0deg) translateZ(50px);
}

.four,
.six {
  display: flex;
  justify-content: space-between;
}

.four .kolona,
.six .kolona {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.five {
  display: flex;
  justify-content: space-between;
  transform: rotateY(-90deg) translateZ(50px);
  z-index: 5;
}

.five .kolona {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.five .kolona:nth-of-type(2) {
  justify-content: center;
}

.six {
  transform: rotateX(90deg) translateZ(50px);
  z-index: 6;
}

.hideDice {
  position: fixed;
  bottom: 100px;
  left: calc(50vw - 62.5px);
  width: 125px;
  background-color: var(--nav-color);
  border: 3px solid var(--text-color) !important;
  color: inherit;
  border-radius: 10px;
  padding: 10px 20px !important;
  font-size: inherit;
  z-index: 31;
}

.message {
  position: fixed;
  background-color: var(--nav-color);
  border: 3px solid var(--text-color);
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  top: 50px;
  left: calc(50vw - 108px);
  z-index: 31;
}

.message p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.messageTotal {
  font-size: 24px;
}

.messageHead {
  font-size: 20px;
}