.downloadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.downloadItem {
  font-size: 18px;
  padding: 5px;
  width: 300px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.downloadItem img {
  margin-left: 10px;
}