.resourceLinkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.resourceLink {
  font-size: 18px;
  padding: 10px 5px;
  width: 300px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.resourceLink:hover {
  background-color: var(--nav-color);
}

.resourceLink img {
  margin-left: 10px;
}