.backToContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.backToContents a {
    text-align: center;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    width: 300px;
    text-decoration: none;
}

.backToContents a:hover {
    background-color: var(--nav-color);
}