footer {
    background-color: var(--header-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerSocialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.footerSocialLinks a img {
    width: 30px;
    height: auto;
}

footer a {
    color: var(--text-color);
}

footer p {
    margin: 0;
}

@media (min-width: 992px) {
    .footerInfo {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .rightDiv p {
        text-align: right;
    }
}