header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--header-color);
    box-shadow: 0 1px 3px var(--header-shadow);
    width: calc(100vw - 30px);
    z-index: 1;
}

header div {
    display: flex;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    letter-spacing: 3px;
    color: inherit;
    text-decoration: none;
}

.navMenu {
    display: none;
    position: absolute;
    right: 10px;
    top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 15px;
    padding-top: 10px;
    background-color: var(--nav-color);
    box-shadow: 0 1px 3px var(--header-shadow);
    color: var(--nav-text);
}

.navMenu a {
    background-color: inherit;
    font-size: 20px;
    color: inherit;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
    letter-spacing: 3px;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid var(--text-color);
}
 
.visible {
    display: flex;
}

.menuButton, .themeSwitch {
    background-color: inherit;
    border: none;
    padding-top: 5px;
}

.menuButton:focus, .themeSwitch:focus {
    outline: none
}

.menuButton img, .themeSwitch img {
    height: 20px;
    width: auto;
    filter: var(--filter);
}

.menuAnimation {
    animation-name: rotate;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.menuAnimationReverse {
    animation-name: unrotate;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    100% {
        transform: rotate(90deg);
    }
}

@keyframes unrotate {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (min-width: 992px) {
    header {
        padding: 5px 15px;
    }

    .themeIcon {
        padding: 0 15px;
    }

    .menuIcon {
        display: none;
    }

    .navMenu {
        display: flex;
        flex-direction: row;
        position: initial;
        gap: 20px;
        background-color: inherit;
        align-items: flex-end;
        box-shadow: none;
        padding: none;
        margin-right: 15px;
    }

    .menuButton {
        display: none;
    }

    .themeSwitch {
        margin-right: 20px;
    }
}