@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@400;700&display=swap");

[data-theme=dark] {
    --text-color: hsl(0, 0%, 80%);
    --background-color: hsl(0, 0%, 15%);
    --header-color: hsl(0, 0%, 17%);
    --header-shadow: hsl(0, 0%, 12%);
    --nav-color: hsl(0, 0%, 20%);
    --nav-text: white;
    --content-button-border: hsl(0, 0%, 80%);
    --filter: invert(91%) sepia(0%) saturate(0%) hue-rotate(255deg) brightness(91%) contrast(91%);
}

[data-theme=light] {
    --text-color: hsl(0, 0%, 15%);
    --background-color: hsl(0, 0%, 80%);
    --header-color: hsl(0, 0%, 75%);
    --header-shadow: hsl(0, 0%, 65%);
    --nav-color: hsl(0, 0%, 65%);
    --nav-text: black;
    --content-button-border: hsl(0, 0%, 15%);
    --filter: invert(9%) sepia(0%) saturate(1516%) hue-rotate(174deg) brightness(88%) contrast(84%);
}

html {
    font-size: 16px;
    font-family: "Gentium Plus", serif;
    font-weight: 400;
}

body {
    display: block;
    padding: 0;
    margin: 0; 
    color: var(--text-color);
    background-color: var(--background-color);
    min-height: 100vh;
    height: 100%;
    margin: 0;
}

h1 {
    width: 100%;
    text-align: center;
}

h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

h3 {
    border-bottom: 1px solid var(--text-color);
    margin: 0 auto;
    text-align: center;
    width: 250px;
}

p {
    text-align: justify;
}

a {
    color: var(--text-color);
}

main {
    padding: 60px 15px;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    min-height: 75vh;
}

table {
    margin: 0 auto;
    margin-bottom: 40px;
    border-spacing: 0;
}

thead tr th {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 3px double var(--text-color);
}

tbody tr td {
    text-align: center;
    padding: 2.5px 5px;
    font-size: 14px;
}

.bottom {
    border-bottom: 1px solid var(--text-color);
}

.top {
    border-top: 1px solid var(--text-color);
}

.left {
    border-left: 1px solid var(--text-color);;
}

.right {
    border-right: 1px solid var(--text-color);
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.filter {
    filter: var(--filter);
    height: 15px;
    width: auto;
}